@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500&display=swap');

*{

    padding: 0;
    box-sizing: border-box;
    
}

body{
    background: #d9dad7;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: white;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    margin: 50px;
   
}

.container .left_side{
    position: relative;
    background: #155263;
    padding: 45px;
}

.container .right_side{
    position: relative;
    background: whitesmoke;
    padding: 45px;
}

.image{
    width: 200px;
    height: 200px;
    
}
img{
    border-radius: 50%;
}

.profile h2{
    color: whitesmoke;
    text-align: center;
    font-size: 1.5rem;
    padding-top: 20px;
    font-weight: 600;
}

.profile h2 span{
    font-size: 1rem;
    font-weight: 500;
}

.contact{
    color: whitesmoke;
    line-height: 25px;
    padding-top: 35px;
   
}

.contact ul li{
    display: inline-block;
    list-style: none;
    cursor: pointer;
}

.contact ul li .icon{
    color: #9fd3c7;
    font-size: 16px;
    padding-right: 7px;
    cursor: pointer;
}

.education{
    color:whitesmoke;
    padding-top: 35px;
    
}

.education ul{
  display: block;

}

.education h5{
    color: #9fd3c7;
}

.title-s{
    color: #155263;
    font-family: 'Work Sans', sans-serif;
}
.about p{
    color: #233142;
    font-size: 18px;
}

.box .y_company{
    display: flex;
    flex-direction: row;
}

.year{
    padding-right: 35px;
}
.y_company h5{
    font-size: 15px;
    color: #155263;
}
hr{
    border: 1px solid #155263;
    margin-top: 10px;
    margin-bottom: 10px;

}
 .about h2{
    margin:0;
 }
.titile-s{
    color: #155263;
    font-family: 'Work Sans', sans-serif;
}
.box ul li{
 list-style: none;
 line-height: 25px;
}

.training{
 color:whitesmoke;
 padding-top: 35px;
}
li span{
    color: whitesmoke;
}
.Train ul li{
    list-style: none;
}
.Train ul li .icon{
    color: #9fd3c7;
}
.language h3{
    color: #155263;
    font-family: 'Work Sans', sans-serif;
}
summary{
    font-size: 18px;
}
.skills h3{
    color: #155263;
    font-family: 'Work Sans', sans-serif;
}
.skills-and-language{
    display: grid;
    grid-template-rows: 0.7fr 3fr;
    gap: 0px;
    line-height: 25px;
}
.skills{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ls{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.divv{
    display: grid;
    grid-template-columns: 1fr 0.6fr 1fr;
}
.ls h3{
    color: #155263;
    font-family: 'Work Sans', sans-serif;
}
.education_title:hover{
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
   
}
.y_company:hover{
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: #155263 solid  3px;
    border-right: #155263 solid  3px;
    box-shadow: #155263;
    padding: 5px;
    border-radius: 3%;
    transition: 0.2s;
    font-size: 18px;
    background-color: #d5daeb;
}

.about:hover {
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: #155263 solid  3px;
    border-right: #155263 solid  3px;
    box-shadow: #155263;
    padding: 5px;
    border-radius: 3%;
    transition: 0.2s;
    font-size: 18px;
    

}
.skills-and-language:hover{
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: #155263 solid  3px;
    border-right: #155263 solid  3px;
    box-shadow: #155263;
    padding: 5px;
    border-radius: 3%;
    transition: 0.2s;
  

}